* {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
html {
	margin: 0;
	padding: 0;

}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	background-attachment: fixed;
	background-image: url(picture1.jpg);
}
.highlights {
	width: 50%;
	height: 100vh;
	margin: auto;
	
	
}
	.section1{
		width: 100%;
		height: 90%;
		margin:auto;
	}
	.section1 h1 {
	margin: 0;
	color: white;
	text-align: center;
	font-size: 4em;
	letter-spacing: 0.1em;
	padding-top: 20%;
	}

	h1:after {
	background: #dddddd;
    content: '';
    display: block;
    height: 2px;
    margin: 0.7em auto 0.4em auto;
    position: relative;
    width: 4em;
}
	.section1 p {
		margin: 0;
		color: white;
		text-align: center;
		font-weight: bold;
		word-spacing: 0.5em;
}
	.section2 {
		height: 10%;
		background-color: #f2f2f2;
		width: 100%;
		padding-top: 2%;

		
	}
		.section2 a{
			text-decoration: none;
			text-align: center;
			padding: 0.9em;
			background-color: #8cd9b3;
			display:block;
			border: none;
			color:white;
			font-weight: bold;
			width: 30%;
			margin: auto;
		}
.section3 {
	width: 50%;
	min-height: 100vh;
	background-color: #f2f2f2;
	margin: auto;
	position: relative;
	border-bottom: 1px solid #dddddd;
	border-top: 1px solid #dddddd;
}
	.content{
		width: 80%;
		height:auto;
		margin: auto;
		padding-top:20%;
		
	}
	
		 h2 {
			margin:0;
			text-align: center;
			color: #404040;
			font-size: 2em;
		}
		h2:after {
		background: #dddddd;
	    content: '';
	    display: block;
	    height: 2px;
	    margin: 0.7em auto 0.4em auto;
	    position: relative;
	    width: 4em;
		}
		.content p {
			margin-top: 5%;
			text-align: center;
			color:grey;
			word-spacing: 0.3em; 
		
	}
	.icons{
		display: inline-block;
		width: 100%;
		height: auto;
		text-align: center;
		position: absolute;
		bottom: 0;
	}
	 i {
		color: #dddddd;
		
	}
	 i:hover {
		color: #cccccc;
	}
.section4 {
	width: 50%;
	height: 100vh;
	background-color: #f2f2f2;
	margin: auto;
	position: relative;
	border-bottom: 1px solid #dddddd;
}
	.section4 ul {
		width: 100%;
		height: auto;
		background-color: inherit;
		margin-top: 10%;
		padding: 0;
	}
	.section4 li {
		list-style-type: none;
		display: inline-block;
		width: 47%;
		text-align: center;
		margin: 0;
	}
	.section4 h3, .content span {
		color: #61686b;
	}
	
	.section4 li:nth-child(1) {
		border-right: 3px solid #dddddd;
		border-bottom: 3px solid #dddddd;	
	} 
	.section4 li:nth-child(3) {
		border-right: 3px solid #dddddd;
		}
	.section4 li:nth-child(2) {
		border-bottom: 3px solid #dddddd;
		margin-left: -4px;
	}
	
.section5 {
	width: 50%;
	height: 100vh;
	background-color: #f2f2f2;
	margin: auto;
	position: relative;
	border-bottom: 1px solid #dddddd;

}
.section5 .content {
	top: 5%;
}
.section6 {
	width: 50%;
	height: 80vh;
	background-color: #f2f2f2;
	margin: auto;
	position: relative;
	border-bottom: 1px solid #dddddd;
}
.section6 .content {
	padding-top: 10%;
}
form {
	width: 100%;
	height: auto;
}
input[type="text"], input[type="email"] {
	width: 45%;
	padding:10px;
	background-color: #dddddd;
	border:none;
	font-weight: bold;
	outline: none;
}
#input1{
	float: left;
	margin: 4% 5% 4% 0;
}
#input2{
	float:right;
	margin:4% 0 4% 5%;
}
textarea{
	background-color: #dddddd;
	padding:10px;
	width: 100%;
	border:none;
	font-weight: bold;
	outline: none;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:#cccccc;
    font-size: 1.2em;
    opacity:1;
    font-family: Arial, Helvetica, sans-serif;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 	color:#cccccc;
    font-size: 1.2em;
    opacity:1;
    font-family: Arial, Helvetica, sans-serif;

}

:-ms-input-placeholder { /* Microsoft Edge */
    color:#cccccc;
    font-size: 1.2em;
    opacity:1;
    font-family: Arial, Helvetica, sans-serif;
}
input[type="submit"] {
	background-color: #8cd9b3;
	width: 50%;
	padding: 10px;
	color: white;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.2em;
	border:none; 
	display: block;
	margin: auto;
	margin-top:5%;
	margin-bottom: 2%;
}
input:focus {
	border: 3px solid #8cd9b3;
}
textarea:focus {
	border:3px solid #8cd9b3;
}

.footer {
	width: 100%;
	height: 20vh;
	background-color: inherit;
}
	.media {
		padding: 0;
		margin: 0;
		display: block;
		text-align: center;
		margin-top:3%;
	}
	.media li  {
		list-style-type: none;
		display: inline-block;
		color: white;
		margin: 4px;
	}
	.media a {
		color: white;
	}
	.footer p{
		color: white; 
		text-align: center;
	}


@media screen and (max-width: 768px) {
	.section3, .highlights, .section4, .section5, .section6 {
		width: 80%;
	}
}
@media screen and (max-width: 425px){
	.section3, .highlights, .section4, .section5, .section6 {
		width: 100%;
	}
	.section2 {
		display: none;
	}
	.icons {
		display: none;
	}
	.section6, .section3, .section4, .section5 {
		height: auto;
	}
	input[type="text"], input[type="email"] {
	width: 100%;
	margin-bottom: 2%;
	margin-top: 0;
	}
	
	#input1 {
		margin: 0 0 4% 0;
	}
	#input2{
		float:left;
		margin: 0 0 4% 0;
	}
	input[type="submit"] {
	width: 100%;
	margin-top: 4%;
	margin-bottom: 5%;
	}
	.section4 {
		height: auto;
	}
	.section4 li {
		width: 100%;
	}
	.section4 li:nth-child(1) {
		border-right: none;
		border-bottom: none;	
	} 
	.section4 li:nth-child(3) {
		border-right: none;
		}
	.section4 li:nth-child(2) {
		border-bottom: none;
		margin-left: 0;
	}
	.section1 h1 {
	font-size: 2em;
	letter-spacing: 0.1em;
	padding-top: 50%;
	}
	.media a {
		font-size: 12px;
	}
	h2 {
		font-size: 1.5em;
	}

}